html, body {
background: 
#E49B6A url("../images/bg2.jpg") no-repeat 50% 0;
height: 100%;
width: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.padcont {
padding: 15px;
padding-top: 10px;
background: 
#E9EDF1;}
.content {
box-shadow: none;
background: none;
float: left;
word-wrap: break-word;}
.padcont {
padding: 15px;
padding-top: 50px;
background: none;}
.cont_border_right {
background: none;}
.cont_border_left {
background:none;}
.speedbar {
background: none;
padding: 10px;
border-bottom: 0px solid #E4E7EB;
font-weight: bold;
color: white;
z-index: 9999999;
border-radius: 2px;}
.flLg {
color: 
#9999ff;
padding: 5px;
padding-left: 2px;}
h1 {
font-size: 17px;
color: rgba(250, 250, 250, 1);
text-shadow:0px 1px 1px #000000;
border-bottom: 1px solid rgba(255, 255, 255, 0.14);
padding-bottom: 5px;
padding-left: 2px;
padding-top: 5px;}
.cont_border_bottom {
background: url("../images/content_bottom.gif") repeat-x;
height: 4px;
margin-left: 1px;
margin-right: 1px;}
.note_add_bg {
background: rgba(255, 255, 255, 0.14);
text-shadow:0px 1px 1px #000000;
margin: none;
padding: 25px 40px 25px 40px;
margin-bottom: -15px;
border-radius: 3px;
border-top: none;
color: white;}
a {
text-decoration: none;
color: white;
margin: 0px;
padding: 0px;}
.footer a:hover {
background: rgba(255, 255, 255, 0.21);
padding: 3px 5px;
text-decoration: none;
border-radius: 1px;}
.frmero {
font-weight: normal;
width: 625px;
margin-top: 10px;
margin-bottom: 0px;
margin-left: 20px;}
.err_red {
padding: 10px;
background: rgba(235, 86, 86, 0.46);
margin-bottom: 10px;
line-height: 17px;}
.autowr{width:40em;}
.frmero{width:auto;}

@media screen and (max-width: 40em) {
	.form-block{width:100%;}
	.autowr{width:auto;}
}